<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FitScroll</string>
	<key>CFBundleExecutable</key>
	<string>FitScroll</string>
	<key>CFBundleIdentifier</key>
	<string>com.huseyinbabal.fitscroll</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>tr</string>
		<string>pt-BR</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>zh-Hans</string>
		<string>ru</string>
	</array>
	<key>CFBundleName</key>
	<string>FitScroll</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.huseyinbabal.fitscroll</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitscroll</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>44</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>FitScroll uses your camera to detect body movements and count exercise repetitions. All processing happens on-device and no video is recorded.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This lets FitScroll measure ad performance so we can improve the app and show you more relevant content. Your data is never sold.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v72qych5uu.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>238da6jt44.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>22mmun2rn5.skadnetwork</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
